body{
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: sans-serif;
    background:#d6e0f5;
}

.axis path,
.axis line{
    fill:none;
    stroke:black;
    stroke-width:1px;
    shape-rendering: crispEdges;
}
.axis text{
    font-size:1em;
}

.title {
    font-variant:small-caps;
    font-size: 1.5em;
    font-weight: bold;
}
.innerRect{
    fill:white;
}
.counties{
    fill:white;
    stroke:#bfbfbf;
    stroke-dasharray: 4px;
}
.highways{
    stroke:#d9d9d9;
    stroke-width:0.25px;
    fill:none;
}
.neighborhood{
    fill:#8cd9b1;
    stroke:white;
}
.neighborhood:hover{
    stroke:black;
    stroke-width:2px;
    cursor:pointer;
}